
@import './colors';

.gameContainer{
    text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -140px;

    .gameToast{
        width: 100%;
        &.success{
            background: linear-gradient(90deg, rgb(161, 221, 157) 0%, rgb(43, 205, 168) 100%);
        }
        &.error{
            background: linear-gradient(90deg, rgb(216, 216, 216) 0%, rgb(196, 196, 196) 100%);
        }

        div {
            &::first-letter{
                text-transform: uppercase;
            }
        }
    }


    .gameContent{
        margin-top: -145px;
        width: 90%;
        max-width: 500px;

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;

            &.disable{
                pointer-events: none;
                z-index: 0;
                position: relative;
            }

            input{
                padding: 20px;
                border-radius: 10px;
                border: 2px solid transparent;
                outline: 3px solid #9c999e24;
                width: 90%;
                max-width: 500px;
                box-shadow: 0px 0px 20px 7px rgb(156 225 207);
                background: #ededed;
                z-index: 1;

                &:focus{
                    outline: 2px solid rgb(52 206 167);
                box-shadow: 0px 0px 20px 7px rgb(156 225 207);
                }

                &.disable{
                    pointer-events: none;
                    box-shadow: 0px 0px 20px 7px rgb(156 225 207 / 0%);
                    &::placeholder {
                        color: rgb(194, 194, 194);
                      }
                }
            }

            button{
                letter-spacing: 2px;
                font-family: 'Roboto', sans-serif;
                background: rgb(161,221,157);
                background: linear-gradient(90deg, rgba(161,221,157,1) 0%, rgba(43,205,168,1) 100%);
                border: 0;
                border-radius: 30px;
                padding: 20px 30px;
                width: 100%;
                max-width: 260px;
                font-size: 16px;
                cursor: pointer;
                text-transform: uppercase;
                color: white;
                text-shadow: 1px 1px 2px rgb(23 135 105);
                &:hover{
                    background: rgb(161,221,157);
                    background: linear-gradient(90deg, rgba(161,221,157,1) 0%, rgba(43,205,168,1) 41%);
                }

                &.nextPokemon{
                    text-shadow: 1px 1px 2px rgb(135 23 23);
                    background: linear-gradient(90deg, rgba(221,157,157,1) 0%, rgba(205,43,43,1) 100%);
                    &:hover{
                        background: linear-gradient(90deg, rgba(221,157,157,1) 0%, rgba(205,43,43,1) 41%);
                    }
                }
            }
        }
    }

    .bag{
        &.disable{
            pointer-events: none;
        }
    }
}



@media (max-width:500px) {
    .gameContainer {
        .imageContainer {
            transform: scale(0.7);
        }

        .gameContent{
            form {
                input {
                    &::placeholder{
                        font-size: 13px;
                    }
                }
            }
        }
    }

}