@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400;500&display=swap');

@font-face {
    font-family: 'HalvarBreit';
    src: url("../assets/fonts/HalvarBreit-Blk.ttf") format('truetype');
}

@import './colors';

body, html{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

html { 
    width:100vw;
    overflow-x:hidden;
}

.loading{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    img{
        animation:spin 1s linear infinite;
    }
    filter: invert(76%) sepia(2%) saturate(158%) hue-rotate(322deg) brightness(90%) contrast(89%);

    @keyframes spin{
        100%{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
        }
    }
    
}

header{
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: .5s;

    .bg{
        background-image: url('../assets/img/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: absolute;
        top: 0;
        left: 0;
        height: 930px;
        width: 100%;
        z-index: -1;
        opacity: .9;
    }

    .container{
        height: 100%;
    }

    .headerPosition{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
    }

    .navbar{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .subtitle{
        font-family: "HalvarBreit";
        text-align: center;
        
        font-size: calc(10px + 1.5vw);;
        line-height: 0;
        color: white;
        margin-bottom: 80px;

        span{
            color:$yellow;
        }

        img{
            cursor: pointer;
            filter: invert(99%) sepia(86%) saturate(6771%) hue-rotate(322deg) brightness(96%) contrast(94%);
            transform-origin: top center;
            animation: swing 3s ease infinite;
            @keyframes swing {
                0% { transform: translateY(0); }	
                50% { transform: translateY(15px); }
                100% { transform: translateY(0); }
            }
        }
    }
}

input{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.container{
    max-width: 1230px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

footer{
    text-align: center;
    color: #1f2028;
    padding-top: 5px;
    padding-bottom: 10px;
    img{
        transform: rotate(180deg);
        filter: invert(11%) sepia(10%) saturate(934%) hue-rotate(196deg) brightness(98%) contrast(95%);
        transition: .5s;
        cursor: pointer;

        &:hover{
            transform: translateY(-3px) rotate(180deg);
        }
    }
    p{
        margin: 0;
        padding: 5px;
    }
    a{
        color: #ff2f00;
    }
}