@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;600;700&display=swap');


body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}