
@import './colors';

.contentBG{
    background-color: #e6ebec;
    z-index: 1;
    position: relative;
}

.sectionGame{
    background: grey;
    height: 354px;
    margin: 80px 0;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url("../assets/img/sectionGameBg.jpg");
    background-size: cover;
    background-position: 50% 30%;

    position: relative;

    .flex{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .cardText{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .title{
        font-family: "HalvarBreit";
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 3em;
        max-width: 350px;
        text-align: initial;
        margin: 0;

        span{
            color: $yellow;
        }
    }

    a{
        text-decoration: none;
        color: #e2412f;
    }
    .playButton{
        width: 100px;
        height: 112px;
        background: white;
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        padding-left: 12px;
    }

    h4{            
        font-weight: 400;
        color: white;
        font-size: 1.1em;
    }

    .icon{
        position: relative;
        top: -50px;
    }

    .pikachu2{
        position: absolute;
        right: 0;
        bottom: -50px;
    }
}

.sectionInfo{
    .flex{
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }

    .card{
        text-align: center;
        background: white;
        border-radius: 10px;
        margin-top: 20px;
        padding: 0 10px;
        width: 340px;

        .content{
            max-width: 200px;
            margin: 0 auto;
            padding-bottom: 20px;
        }

        h4{
            
    font-weight: 400;
        }

        h1{
            margin: 0;
            font-family: "HalvarBreit";
            color: #1f2028;
        }
        .cardImg{
            height: 175px;
        }
        img{
            position: relative;
            top: -35px;
        }
    }
}

.sectionPokedex{
    height: 550px;
    background: linear-gradient(0deg, rgb(219 219 219) 0%, rgba(0, 0, 0, 0) 70%);

    .cardImageContainer{
        height: 500px;
        width: 620px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }
    .cardImage{
        width: auto;
        position: absolute;
        transition: 0.5s ease-in-out;
        right: -200px;
    }

    .container:hover {
        .cardImage{
            right: -420px;
        }

        .cardText span::before {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
    }

    .cardText{
        width: 520px;
        text-align: center;
        position: relative;

        h2{
            font-family: "HalvarBreit";
            font-size: 2rem;
            color: #1f2028;
        }
        
        img{
            width: 180px;
            z-index: 1;
            position: absolute;
            top: 55px;
            right: 0;
            pointer-events: none;
        }

        a{
            color: #f1645b;
            border-bottom: 4px solid;
            text-decoration: none;
            margin: 0 4px;
        }

        span{
            display: inline-block;
            padding: 0 4px;
            position: relative;
            font-size: 2rem;
            &::before {  
                transform: scaleX(0);
                transform-origin: bottom right;
                content: " ";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                background: #ffe694;
                z-index: -1;
                transition: transform .3s ease;
            }
            

        }
    }

    
    .flex{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}