
@import './colors';

.headerContainer{
    max-height: 100vh;
}

.contentBG{
    background-color: #e6ebec;
    background: linear-gradient(0deg, rgb(219, 219, 219) 0%, rgba(0, 0, 0, 0) 70%);
    z-index: 1;
    position: relative;
}

.sectionGame{
    background: grey;
    height: 354px;
    margin: 80px 0;
    text-align: center;
    display: flex;
    align-items: center;
    

    position: relative;

    .sectionGameBgContainer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .sectionGameBg{
        width: 100%;
        height: 500px;
        background-image: url("../assets/img/sectionGameBg.webp");
        background-size: cover;
        background-position: 50% 30%;
    }

    .flex{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .cardText{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .title{
        font-family: "HalvarBreit";
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 3em;
        max-width: 350px;
        text-align: initial;
        margin: 0;

        span{
            color: $yellow;
        }
    }

    a{
        text-decoration: none;
        color: #e2412f;
    }
    .playButton{
        width: 112px;
        height: 112px;
        border-radius: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        position: relative;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scale(1);

        span{
            z-index: 1;
            background: white;
            width: 100%;
            height: 100%;
            border-radius: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 12px;
        }

        &:hover{
            transform: scale(1.1);

            .circle{
                background-color: $yellow;
            }
        }

        .circle{
            position: absolute;
            background-color: white;
            height: 100%;
            width: 100%;
            border-radius: 100%;
            opacity: 0.2;
            animation: pulse 3s ease-out infinite;
            transition: .5s;
        }

        .circle:nth-of-type(1) {
            animation-delay: -0.5s;
        }
        
        .circle:nth-of-type(2) {
                animation-delay: -1s;
        }
        
        .circle:nth-of-type(3) {
                animation-delay: -1.5s;
        }
        
        @keyframes pulse {
                100% {
                transform: scale(1.75);
                opacity: 0;
                }
        }
    }

    @keyframes buttonOutline {
        0%{
            outline: 0px;
        }
        50%{
            outline: 40px;
        }
        100%{
            outline: 0px;
        }
    }

    h4{            
        font-weight: 400;
        color: white;
        font-size: 1.1em;
    }

    .icon{
        position: relative;
        top: -50px;
    }

    .pikachu2{
        position: absolute;
        right: 0;
        bottom: -50px;
    }
}

.sectionInfo{
    background-image: url("../assets/img/bgpattern.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .card{
        text-align: center;
        background: white;
        border-radius: 10px;
        margin-top: 20px;
        padding: 0 10px;
        width: 340px;
        box-shadow: 0px 0px 20px 20px #dbdbdb63;

        .content{
            max-width: 200px;
            margin: 0 auto;
            padding-bottom: 20px;
        }

        h4{
            
    font-weight: 400;
        }

        h1{
            margin: 0;
            font-family: "HalvarBreit";
            color: #1f2028;
        }
        .cardImg{
            height: 175px;
        }
        img{
            position: relative;
            top: -35px;
        }
    }
}

.sectionPokedex{
    min-height: 550px;
    margin: 40px 0 40px 0;

    .cardImageContainer{
        height: 500px;
        width: 620px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }
    .cardImage{
        width: auto;
        position: absolute;
        transition: 0.5s ease-in-out;
        right: -200px;
    }

    .container:hover {
        .cardImage{
            right: -420px;
        }

        .cardText span::before {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
    }

    .cardText{
        width: 520px;
        text-align: center;
        position: relative;

        h2{
            font-family: "HalvarBreit";
            font-size: 2rem;
            color: #1f2028;
        }
        
        img{
            width: 180px;
            z-index: 1;
            position: absolute;
            top: 55px;
            right: 0;
            pointer-events: none;
        }

        a{
            color: #f1645b;
            border-bottom: 4px solid;
            text-decoration: none;
            margin: 0 4px;
        }

        span{
            display: inline-block;
            padding: 0 4px;
            position: relative;
            font-size: 2rem;
            &::before {  
                transform: scaleX(0);
                transform-origin: bottom right;
                content: " ";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                background: #ffe694;
                z-index: -1;
                transition: transform .3s ease;
            }
            

        }
    }

    
    .flex{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

}


// RESPONSIVE


@media (max-width: 1150px) {
    .sectionGame {
        .cardText{            
            flex-direction: column;
        }
        .title{
            font-size: calc(1em + 2.5vw);
            text-align: center;
            max-width: 460px;
            z-index: 1;
        }

    }    
}


@media (max-width: 730px) {
    .sectionGame {
        .pikachu2 {
            display: none;
        }
    }
}


@media (max-width: 620px) {
    .sectionPokedex  {
        
        margin: 40px 0 80px 0;

        .cardImageContainer{
            border-radius: 0;
        }

        .cardText h2 {
            font-size: calc(1em + 1.5vw);
            margin: 20px;
        }
    }
}