.containerBg{
    background: linear-gradient(180deg, rgb(231 231 231) 0%, rgba(0, 0, 0, 0) 70%);
    position: relative;

    background-image: url("../assets/img/bgpattern.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    .container{
        z-index: 1;
        
    }

}