.pokedexContainer{
    text-align: center;

    .pokemonList{    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .pokemonItem{
            &.undiscovered{
                filter: brightness(0) opacity(0.9);
            }
            &.discovered{
                filter: brightness(0.5) opacity(0.9);
            }
            &.captured{
                filter: none;
            }
        }
    }
}