
@import '../colors';

.pokemonInfoContainer{
    width: 90%;
    max-width: 1230px;
    height: 150px;

    .logo{
        position: relative;
        top: -190px;

        img{    
            margin-top: -70px;
            animation: swing 3s ease-in-out infinite;
            @keyframes swing {
                0% { transform: translateY(0); }	
                50% { transform: translateY(10px); }
                100% { transform: translateY(0); }
            }
        }

        .subtitle {        
            font-family: "HalvarBreit";
            font-size: calc(50px + 1.5vw);
            color: #fff9ee;
            margin: 0 auto;
            max-width: 500px;
            text-transform: uppercase;
            border-bottom: 6px solid #f64f51;
            text-shadow: 0 0 20px #616399;
        }

    }

    .imageContainer {
        position: relative;
        top: -299px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
}

.pokemonInfo{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: #f4f4f4;
    border-radius: 5px;
    position: relative;
    text-transform: capitalize;

    .close{    
        font-family: "roboto";
        font-weight: 600;
        cursor: pointer;
        border: 0;
        background: #1f20281c;
        padding: 7px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        color: #302b2b;
        &:hover{
            background: #1f202828;
        }
    }

    .flex{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .stats{
        display: flex;
        gap: 14px;
        .stat{
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #e7e7e7;
            border-radius: 10px;
            padding: 2px;
            box-sizing: border-box;

            &.hide{
                .statName{
                    background-color: grey !important;
                }
            }
            
            .statName{
                background-color: grey;
                border-radius: 60px;
                width: 30px;
                font-size: 12px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }

            .statValue{
                padding-top: 5px;
                font-size: 12px;
            }

            &:nth-child(1) .statName{
                background-color: #df2140;
            }
            &:nth-child(2) .statName{
                background-color: #ff994d;
            }
            &:nth-child(3) .statName{
                background-color: #ffdc41;
            }
            &:nth-child(4) .statName{
                background-color: #85ddff;
            }
            &:nth-child(5) .statName{
                background-color: #afd885;
            }
            &:nth-child(6) .statName{
                background-color: #fb94a8;
            }
        }
    }
}


.types{
    &.points{

        &.hide{
            div{
                background-color: grey !important;
                background-image: none;
            }
        }

        :nth-child(2){
            top: 10px;
            right: -10px;
        }
    }

    div{
        background-size: contain;
    }

    .bug{
        background-image: url("../../assets/img/pokedex/bug.webp");
        background-color: $bug;
    }
    .dragon{
        background-image: url("../../assets/img/pokedex/dragon.webp");
        background-color: $dragon;
    }
    .fairy{
        background-image: url("../../assets/img/pokedex/fairy.webp");
        background-color: $fairy;
    }
    .fire{
        background-image: url("../../assets/img/pokedex/fire.webp");
        background-color: $fire;
    }
    .ghost{
        background-image: url("../../assets/img/pokedex/ghost.webp");
        background-color: $ghost;
    }
    .ground{
        background-image: url("../../assets/img/pokedex/ground.webp");
        background-color: $ground;
    }
    .normal{
        background-image: url("../../assets/img/pokedex/normal.webp");
        background-color: $normal;
    }
    .psychic{
        background-image: url("../../assets/img/pokedex/psychic.webp");
        background-color: $psychic;
    }
    .steel{
        background-image: url("../../assets/img/pokedex/steel.webp");
        background-color: $steel;
    }
    .dark{
        background-image: url("../../assets/img/pokedex/dark.webp");
        background-color: $dark;
    }
    .electric{
        background-image: url("../../assets/img/pokedex/electric.webp");
        background-color: $electric;
    }
    .fighting{
        background-image: url("../../assets/img/pokedex/fighting.webp");
        background-color: $fighting
    }
    .flying{
        background-image: url("../../assets/img/pokedex/flying.webp");
        background-color: $flying;
    }
    .grass{
        background-image: url("../../assets/img/pokedex/grass.webp");
        background-color: $grass;
    }
    .ice{
        background-image: url("../../assets/img/pokedex/ice.webp");
        background-color: $ice;
    }
    .poison{
        background-image: url("../../assets/img/pokedex/poison.webp");
        background-color: $poison;
    }
    .rock{
        background-image: url("../../assets/img/pokedex/rock.webp");
        background-color: $rock;
    }
    .water{
        background-image: url("../../assets/img/pokedex/water.webp");
        background-color: $water;
    }
}

// RESPONSIVE

@media (max-width:1100px) {
    
    .pokemonInfoContainer {
        height: auto;

        .logo{
            top: 0;

            .subtitle{
                font-size: calc(2em + 3.5vw);
            }
        }

        >div{
            display: flex;
            flex-direction: column-reverse;
        }
        .imageContainer {
            top: -70px;
        }

        .pokemonInfo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 0;
            margin: 20px;
        }
    }

}

@media (max-width:500px) {
    
    .pokemonInfoContainer {
        .logo img{
            width: 100%;
            max-width: 363px;
        }
        .imageContainer {
            transform: scale(0.7);
            top: 0;
        }
    }

}

@media (max-width:310px) {
    
    .pokemonInfoContainer {                
        .pokemonInfo .stats{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}
